nav ul {
    gap: 80px;
    list-style: none;
    border: 1px solid #333;
    border-radius: 50px;
    padding: 12px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    background-color: #111;
    position: relative;
    overflow: hidden; 
}

nav ul::before {
    content: '';
    position: absolute;
    top: -50%;          
    left: -150%;       
    width: 30%;         
    height: 200%;      
    
    background: linear-gradient(
        120deg, 
        transparent, 
        rgba(255, 255, 255, 0.219), 
        transparent
    );
    
    animation: smoothDiagonalRun 8s infinite ease;
}

header ul li a {
    text-decoration: none;
    color: #333;
    position: relative;
    padding: 5px 0;
}

li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: rgba(245, 11, 11, 0.457);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    box-shadow: 0 0 15px rgba(245, 11, 11, 0.498);
    border-radius: 10px;
}

body {
    background-color: black;
}

@keyframes smoothDiagonalRun {
    0% {
        left: -150%;
    }
    100% {
        left: 150%; 
    }
}


main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stiker-container {
    position: relative;
    width: 950px;
    height: 640px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stiker-img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
    position: relative;
    z-index: 3;
    filter: drop-shadow(0 0 50px rgba(255, 0, 0, 0.8));
}

.stiker-laser {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 2;
    filter: url(#stiker-kontur);
    -webkit-mask-image: linear-gradient(135deg, transparent 40%, #000 50%, transparent 60%);
    mask-image: linear-gradient(135deg, transparent 40%, #000 50%, transparent 60%);
    -webkit-mask-size: 300% 300%;
    mask-size: 300% 300%;
    -webkit-mask-position: 0% 0%;
    mask-position: 0% 0%;
    animation: stikerLaserRun 4s infinite linear;
}

@keyframes stikerLaserRun {
    0% {
        -webkit-mask-position: 100% 100%;
        mask-position: 100% 100%;
    }
    100% {
        -webkit-mask-position: 0% 0%;
        mask-position: 0% 0%;
    }
}



.skills-container {
    display: flex;
    flex-wrap: wrap;   
    gap: 15px;        
    margin-top: 20px;
    color: white;
}

.skill-badge1{
    padding-top: 5px;
}

.skill-badge2{
    padding-top: 35px;
}

.skill-badge3{
    padding-top: 65px;
}

.skill-badge4{
    padding-top: 100px;
}

.main-info h1,p{
    color: white;
}

